<%= form_for(@image, html: { class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :no_pasted_images, multiple: true ,label:"Input your image" %><br>
    <%= f.submit  "FUCK YOU"%>
  </div>
<%  end%>
