<!DOCTYPE html>
<html>
<head>
  <title>PastTogether</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
     <div class="header">
       <h3 class="text-muted">Pasting together</h3>
     </div>
     <%= yield %>

     <div class="footer">
       <p>&copy; Company 2014</p>
     </div>
   </div>
</body>
</html>
